p {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}

button {
    margin-bottom: 5px;
    cursor: pointer;

    backdrop-filter: blur(3px);
    background: #f0e7d087;
    color: rgba(0, 0, 0, 0.4);

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border: solid 3px rgba(100, 100, 100, 0.579);

    font-family: "Merienda", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button.darkmode {
    backdrop-filter: blur(3px) invert(1);
}

button:hover {
    background: rgba(255, 255, 255, 0.5);
}

input {
    background-color: rgba(255, 255, 255, 0.5);

    border-top-left-radius: 255px 15px;
    border-bottom-left-radius: 15px 225px;
    border-top-right-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
    border: solid 2px rgba(100, 100, 100, 0.579);

    font-family: "Merienda", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input.InputNumber {
    display: inline;
    width: 60px;
    margin-left: 3px;
    margin-right: 3px;
}

input.InputSeed {
    width: 100px;
    margin-right: 3px;
}

svg#SVG {
    position: fixed;
    left: 0;
    top: 0;

    & #Background {
        mix-blend-mode: multiply;
    }
}

svg#SVG.darkmode {
    filter: invert(1) sepia(1);
}

#Loader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 200px;

    & #InfinityLoop {
        stroke-dasharray: 2.4px, 242.7;
        stroke-dashoffset: 0;
        animation: infinityLoop 1.6s linear infinite;
    }
}

#Loader.hidden {
    display: none;
}

#Loader.darkmode {
    filter: invert(1) sepia(1);
}

div#Buttons {
    position: fixed;
    z-index: 3;
    top: 3px;
    left: 48px;
    height: 48px;
    width: calc(100% - 96px);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    & button {
        width: 48px;
        height: 48px;
        margin-right: 3px;
        font-size: 20px;
    }

    & button#Settings {
        transform: rotate(-91deg);
    }

    & div.LeftButtons {
        display: flex;
    }
}

div#Buttons.darkmode {
    filter: invert(1) sepia(1);
}

div#Menu {
    position: fixed;
    z-index: 3;
    top: 51px;
    left: 51px;

    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.5);

    border-top-left-radius: 255px 15px;
    border-bottom-left-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    border: solid 3px rgba(100, 100, 100, 0.579);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px;

    & button {
        color: rgb(0, 0, 0);
        border: solid 2px rgba(100, 100, 100, 0.579);
    }

    & h4 {
        display: flex;
        justify-content: center;
        margin: 3px 0 3px 0;
    }

    & p {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    & div {
        margin-bottom: 10px;
    }

    & #CurrentView,
    #SaveView {
        margin: 0px;
    }

    & #CurrentView button {
        margin-left: 4px;
        margin-right: 4px;
    }
}

div#Menu.hidden {
    display: none;
}

div#Menu.darkmode {
    backdrop-filter: blur(3px) invert(1);
    filter: invert(1) sepia(1);
}

#ScrollableCanvas button {
    position: fixed;
    z-index: 2;
    height: 25%;
    width: 48px;
    top: 37.5%;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}

#ScrollableCanvas button#LeftScroll {
    left: 3px;
}

#ScrollableCanvas button#LeftScroll.darkmode {
    filter: invert(1) sepia(1);
}

#ScrollableCanvas button#RightScroll {
    right: 3px;
}

#ScrollableCanvas button#RightScroll.darkmode {
    filter: invert(1) sepia(1);
}

@keyframes infinityLoop {
    12.5% {
        stroke-dasharray: 34px, 242.7px;
        stroke-dashoffset: -26.7px;
    }
    43.75% {
        stroke-dasharray: 85px, 242.7px;
        stroke-dashoffset: -85px;
    }
    100% {
        stroke-dasharray: 2.4px, 242.7px;
        stroke-dashoffset: -240px;
    }
}
