h4 {
    margin: 5px;
}

div#SETTING {
    position: fixed;
    z-index: 1000;
    left: 56px;
    top: 3px;
}

div#BTN_ROW {
    top: 3px;
    height: 48px;
    user-select: none;
    vertical-align: middle;
    font-size: 18px;
}

div#INP_SEED {
    width: 100px;
}

div#BTN_ROW > div {
    float: left;
    margin-right: 3px;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

div#MENU {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#SCROLLABLE_CANVAS div#LeftScroll,
#SCROLLABLE_CANVAS div#RightScroll {
    position: fixed;
    z-index: 1000;
    width: 48px;
    text-align: center;
    top: 3px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    user-select: none;
}

.ROWITEM {
    display: inline;
    width: 60px;
}

/* Positioning of L and R buttons */
#SCROLLABLE_CANVAS div#LeftScroll {
    justify-content: left;
    left: 3px;
}
#SCROLLABLE_CANVAS div#RightScroll {
    justify-content: right;
    right: 3px;
}

#SCROLLABLE_CANVAS div#LeftScroll\.icon,
#SCROLLABLE_CANVAS div#RightScroll\.icon {
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 32px;
}
