@font-face {
    font-family: "Merienda";
    src: url("../public/Merienda-Regular.eot");
    src: local("Merienda Regular"), local("Merienda-Regular"),
        url("..//public/Merienda-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../public/Merienda-Regular.woff2") format("woff2"),
        url("../public/Merienda-Regular.woff") format("woff"),
        url("../public/Merienda-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Merienda", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
